 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-1 .u-text-1 {
  margin: 64px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1007px;
  margin: 81px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 321px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
}

.u-section-1 .u-image-1 {
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  background-image: url("images/14.png");
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-icon-1 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  font-size: 1rem;
  margin: 23px 71px 0 23px;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/14.png");
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-icon-2 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-5 {
  transition-duration: 0.75s;
  font-size: 1.125rem;
  margin: 23px 71px 0 23px;
}

.u-section-1 .u-image-3 {
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  background-image: url("images/14.png");
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-icon-3 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-7 {
  transition-duration: 0.75s;
  font-size: 1.125rem;
  margin: 23px 71px 0 23px;
}

.u-section-1 .u-text-8 {
  margin: 54px auto 0;
}

.u-section-1 .u-list-2 {
  width: 1007px;
  margin: 81px auto 60px;
}

.u-section-1 .u-repeater-2 {
  min-height: 321px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
}

.u-section-1 .u-image-4 {
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  background-image: url("images/14.png");
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-icon-4 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-10 {
  transition-duration: 0.5s;
  font-size: 1rem;
  margin: 23px 71px 0 23px;
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-image-5 {
  background-image: url("images/14.png");
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-icon-5 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-12 {
  transition-duration: 0.75s;
  font-size: 1.125rem;
  margin: 23px 71px 0 23px;
}

.u-section-1 .u-image-6 {
  box-shadow: 0px 0px 14px 6px rgba(128,128,128,0.65);
  background-image: url("images/14.png");
  --radius: 45px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-icon-6 {
  width: 55px;
  height: 55px;
  margin: 23px 23px 0 224px;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: -47px;
  margin-left: 23px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.u-section-1 .u-text-14 {
  transition-duration: 0.75s;
  font-size: 1.125rem;
  margin: 23px 71px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 299px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 4px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 299px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-1 .u-text-10 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1862px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 718px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 718px;
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 112px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 112px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 112px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-1 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -44px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 1px;
  }

  .u-section-1 .u-icon-2 {
    width: 52px;
    height: 52px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -44px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1rem;
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 1px;
  }

  .u-section-1 .u-icon-3 {
    width: 52px;
    height: 52px;
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -44px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    font-size: 1rem;
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-1 .u-icon-4 {
    width: 52px;
    height: 52px;
    margin-top: 27px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: -49px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-10 {
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    width: 52px;
    height: 52px;
    margin-top: 27px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -49px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    width: 52px;
    height: 52px;
    margin-top: 27px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: -49px;
    margin-left: 0;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-right: 54px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1792px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 87px;
  }

  .u-section-1 .u-list-2 {
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-9 {
    margin-top: -48px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -48px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 27px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -48px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 27px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(0px) scale(0.95) rotate(0deg) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(0px) scale(0.95) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-21:not([data-block-selected]):not([data-cell-selected]).u-block-9419-21:not([data-block-selected]):not([data-cell-selected]).u-block-9419-21:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-21:not([data-block-selected]):not([data-cell-selected]).u-block-9419-21:not([data-block-selected]):not([data-cell-selected]).u-block-9419-21:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-21:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-26:not([data-block-selected]):not([data-cell-selected]).u-block-9419-26:not([data-block-selected]):not([data-cell-selected]).u-block-9419-26:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-26:not([data-block-selected]):not([data-cell-selected]).u-block-9419-26:not([data-block-selected]):not([data-cell-selected]).u-block-9419-26:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-26:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-31:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-31:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-31:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-31:not([data-block-selected]):not([data-cell-selected]).u-block-9419-31:not([data-block-selected]):not([data-cell-selected]).u-block-9419-31:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-31:not([data-block-selected]):not([data-cell-selected]).u-block-9419-31:not([data-block-selected]):not([data-cell-selected]).u-block-9419-31:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-31:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-36:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-36:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-36:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-36:not([data-block-selected]):not([data-cell-selected]).u-block-9419-36:not([data-block-selected]):not([data-cell-selected]).u-block-9419-36:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-36:not([data-block-selected]):not([data-cell-selected]).u-block-9419-36:not([data-block-selected]):not([data-cell-selected]).u-block-9419-36:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-36:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-36:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-41:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-41:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-41:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-41:not([data-block-selected]):not([data-cell-selected]).u-block-9419-41:not([data-block-selected]):not([data-cell-selected]).u-block-9419-41:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-41:not([data-block-selected]):not([data-cell-selected]).u-block-9419-41:not([data-block-selected]):not([data-cell-selected]).u-block-9419-41:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-41:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-41:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-9419-46:not([data-block-selected]):not([data-cell-selected]),
.u-block-9419-46:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9419-46:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-9419-46:not([data-block-selected]):not([data-cell-selected]).u-block-9419-46:not([data-block-selected]):not([data-cell-selected]).u-block-9419-46:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(0.95) !important;
}

.u-block-9419-46:not([data-block-selected]):not([data-cell-selected]).u-block-9419-46:not([data-block-selected]):not([data-cell-selected]).u-block-9419-46:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(0.95) !important;
}

.u-container-layout:hover .u-block-9419-46:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9419-46:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before,
.u-section-1 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(0px) translateY(0px) scale(0.95) rotate(0deg) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(0px) translateY(0px) scale(0.95) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-10,
.u-section-1 .u-text-10:before,
.u-section-1 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before,
.u-section-1 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before,
.u-section-1 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(0.95) !important;
}

.u-section-1 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}